<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Администрирование
    body
        a(href="/admin/docs") Документы
        div#app
            table
                tr
                    th Имя
                    th Имеет ли доступ
                    th Действия
                    th ID
                each user in users
                    tr
                        td= user.name
                        td= user.isAuth
                        td= user.telegramId
                        td 
                            div
                                button(
                                    telegramId=`${user.telegramId}`
                                    @click="change"
                                ) Изменить доступ
                                button(
                                    telegramId=`${user.telegramId}`
                                    @click="remove"
                                ) Удалить

        script(src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js")
        script.
            new Vue({
                el: '#app',
                data(){
                    return {
                        name: "ok"
                    }
                },
                methods: {
                    change(e) {
                        let el = e.currentTarget
                        let telegramId = el.getAttribute('telegramId')
                        let promise = fetch('/admin/users/auth', {
                            method: 'POST',
                            headers: {
                            'Accept': 'application/json, text/plain, */*',
                            'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                telegramId
                            })
                        })
                        .then(() => window.location.reload())
                    },
                    remove(e) {
                        let el = e.currentTarget
                        let telegramId = el.getAttribute('telegramId')
                        let promise = fetch('/admin/users/remove', {
                            method: 'POST',
                            headers: {
                            'Accept': 'application/json, text/plain, */*',
                            'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                telegramId
                            })
                        })
                        .then(() => window.location.reload())
                    }
                }
            })
            