<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Редактирование
    body
        form(action="/admin/docs" method="POST")
            label
                p Название
                textarea(type="text" name="name")= doc.name
            label
                p Теги
                textarea(type="text" name="tags")= doc.tags
            label
                p Ключевая мысль
                textarea(type="text" name="keyIdea")= doc.keyIdea
            label
                p Описание
                textarea(type="text" name="description")= doc.description
            label
                p Вопрос-ответ
                textarea(type="text" name="FAQ")= doc.FAQ
            label
                p Пункт бланка
                textarea(type="text" name="blankSections")= doc.blankSections
            label(style="display:none")
                p Id
                input(type="text" name="_id" value=`${doc._id || ''}`)
            div
                input(type="submit" value="Сохранить")