<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Документы
    body
        div#app
            table
                tr
                    th Название
                    th Теги
                    th Ключевая мысль
                    th Описание
                    th Вопрос-ответ
                    th Пункт бланка
                    th Опции
                each doc in docs
                        tr
                            td= doc.name
                            td
                                textarea= doc.tags
                            td
                                textarea= doc.keyIdea
                            td
                                textarea= doc.description
                            td
                                textarea= doc.FAQ
                            td
                                textarea= doc.blankSections
                            td 
                                div
                                    a(href=`/admin/docs/edit?id=${doc._id}`)
                                        button Изменить
                                    button(
                                        docId=`${doc._id}`
                                        @click="remove"
                                    ) Удалить

        script(src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js")
        script.
            new Vue({
                el: '#app',
                data(){
                    return {
                        name: "ok"
                    }
                },
                methods: {
                    change(e) {
                        let el = e.currentTarget
                        let telegramId = el.getAttribute('telegramId')
                        let promise = fetch('/admin/docs/change', {
                            method: 'POST',
                            headers: {
                            'Accept': 'application/json, text/plain, */*',
                            'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                'telegramId': telegramId
                            })
                        })
                        .then(() => window.location.reload())
                    },
                    remove(e) {
                        let el = e.currentTarget
                        let docId = el.getAttribute('docId')
                        console.log(docId)
                        let promise = fetch('/admin/docs/remove', {
                            method: 'POST',
                            headers: {
                            'Accept': 'application/json, text/plain, */*',
                            'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                'docId': docId
                            })
                        })
                        .then(() => window.location.reload())
                    }
                }
            })