<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        form(action="/admin/login" method="POST")
            label
                p Логин
                input(type="text" name="username")
            label
                p Пароль
                input(type="password" name="password")
            input(type="submit")